body {
    background-color: rgb(24, 24, 24);
    padding: 1vh;
    font-family: 'Courier New', Courier, monospace;
}

.content {
    margin-left: auto;
    margin-right: auto;  
    left: 0;
    right: 0;
}

.box-title {
    background-color: white;
    color:rgb(24, 24, 24);
    padding: 0.2vh 1vh 0.2vh 1vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.box-content {
    background-color: white;
    color:rgb(24, 24, 24);
    padding: 0.2vh 1vh 0.2vh 1vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.title {
    font-weight: bold;
}

a {
    color: inherit;
}

.info {
    background-color: whitesmoke;
    border: 0.25vh solid black;
    padding: 0.5vh;
    margin-bottom: 0.5vh;
}